.navbar {
  border-radius: 20px !important;
  padding: 15px;
  overflow: hidden;
}
.custom-btn {
  border: none;
  color: white;
  font-size: 18px;
  /* background: transparent; */
}

.custom-btn:hover {
  color: #0055ff;
}

.card {
  border-radius: 12px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);

  box-shadow:
    0 15px 35px rgba(0,0,0,0.3);
}

footer {
  background: #1f1f1f;
  color: white;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
}

footer:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.373);
}